.cms-menu {
	.cms-panel-toggle {
		&.south {
			border-top: 1px solid darken($color-base, 2%);
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		a {
			span {
				color: $color-text-light;
			}
		}
	}
}


.cms-content-header {
	background: {
		image: url(../../framework/admin/images/textures/cms_content_header.png);
		repeat: repeat;
		position: left bottom;
		color: #eee;
	}
}

.cms-content-tools {
	background: #eee;
}

.cms-content-batchactions {
	.view-mode-batchactions-wrapper {
		border: 1px solid #aaa;
		background-color: #D9D9D9;
		background: #D9D9D9;
		border-radius: 0;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

.cms-content-batchactions.inactive {
	.view-mode-batchactions-wrapper {
		border: 1px solid #aaa;
		background-color: #D9D9D9;
		background: #D9D9D9;
		border-radius: 0;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}


// change tab colors
.ui-tabs.cms-tabset-primary .ui-tabs-nav,
.ui-tabs .ui-tabs-nav.cms-tabset-nav-primary,
.ui-tabs .cms-content-header-tabs .ui-tabs-nav {
	border-left: 1px solid darken($color-tab, 15%);

	.ui-state-default {
		background-color: $color-base;
		background: $color-base;
		outline: none;

		border-top:none;
		border: {
			right-color: lighten($color-base, 2%);
			left-color: lighten($color-base, 1%);
		}

		a{
			color: $color-text-light;
			text-shadow: none;
		}

	}

	.ui-state-active {
		background:darken($tab-panel-texture-color,2%);
		border-top: none;
		border: {
			right-color: darken($color-tab, 15%); // same color as divider between header and body, needed for IE
			left-color: $tab-panel-texture-color;
		}

		a{
			color: $color-text-dark;
			text-shadow: none;
		}
	}
}

// override icons manually TODO: make sprites
.icon-16.icon-assetadmin {
	background: url("../images/picture.png");
}
.icon-16.icon-cmsmain {
	background: url("../images/pencil.png");
}
.icon-16.icon-cmspagescontroller {
	background: url("../images/network.png");
}
.icon-16.icon-cmssettingscontroller {
	background: url("../images/gears.png");
}
.icon-16.icon-securityadmin {
	background: url("../images/community.png");
}
.icon-16.icon-reportadmin {
	background: url("../images/pie-chart.png");
}
.icon-16.icon-commentadmin {
	background: url("../images/blog.png");
}
.icon-16.icon-help {
	background: url("../images/information.png");
}

// non menu icons e.g. buttons
.ui-icon.btn-icon-add{
	background: url("../images/add.png");
}

.ui-icon.btn-icon-accept{
	background: url("../images/accept.png");
}

.ui-icon.btn-icon-pencil{
	background: url("../images/edit.png");
}

.ui-icon.btn-icon-cross-circle{
	background: url("../images/cross.png");
	margin-top: -6px;
}

.col-buttons .action.action-detail.edit-link{
	width: 16px;
	height: 16px;
	background: url("../images/edit.png") no-repeat top center;
}

.ss-ui-action-constructive .ui-icon.btn-icon-accept{
	background: url("../images/accept-light.png");
}



// no longer works with white icons. TODO: make dark copies.
.cms-content-header .cms-content-header-info .section-icon{
	display: none;
}


// Gridfield customisations
.cms table.ss-gridfield-table{
	tr.title th{
		background: #ddd;
		background-color: #ddd;
		border: 1px solid #ccc;
		border-bottom: none;
		text-shadow: none;


		h2{
			color: #666;
		}
	}

	tr th.main{
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		color: #666;
		background: #eee;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		button{
			span{
				color: #666;
				text-shadow: none;
			}
		}
	}

	tr th.extra{
		background: #eee;
		color: #666;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}

	tr td.bottom-all{
		background: #ddd;
		background-color: #ddd;
	}

	tr.even{
		background: #f1f1f1;
	}
}

.cms .ss-gridfield .right .pagination-records-number, .cms table.ss-gridfield-table tr td.bottom-all .pagination-records-number{
	color: #666;
	text-shadow: none;
}

.cms table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.trigger{
	background: url(../../framework/images/icons/filter-icons.png) no-repeat -17px -38px;
}
