.cms-menu {
	.cms-panel-toggle {
		&.south {
			border-top: 1px solid darken($color-base, 2%);
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		a {
			span {
				color: $color-text-light;
			}
		}
	}
}


.cms-content-header {
	// background: {
	// 	image: url(../../framework/admin/images/textures/cms_content_header.png);
	// 	repeat: repeat;
	// 	position: left bottom;
	// 	color: #eee;
	// }
	background-color: #fff;
}

.cms-content-tools {
	background: #fff;
}

.cms .cms-content-fields {
	background-color: #F1F1F1;
}

.cms .cms-content-actions {
	background: #fff;
}

.cms-content-batchactions {
	.view-mode-batchactions-wrapper {
		border: 1px solid #aaa;
		background-color: #D9D9D9;
		background: #D9D9D9;
		border-radius: 0;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

.cms-content-batchactions.inactive {
	.view-mode-batchactions-wrapper {
		border: 1px solid #aaa;
		background-color: #D9D9D9;
		background: #D9D9D9;
		border-radius: 0;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel {
	background-color: #FFF;
}


// change tab colors

.ui-tabs-nav .ui-tabs-anchor {
	border: none !important;
}

.ui-tabs.cms-tabset-primary .ui-tabs-nav,
.ui-tabs .ui-tabs-nav.cms-tabset-nav-primary,
.ui-tabs .cms-content-header-tabs .ui-tabs-nav {
	border-left: none;

	.ui-state-default {
		background-color: #FFF;
		background: #FFF;
		outline: none !important;
		border:none !important;

		a{
			color: #000;
			text-shadow: none;
			font-weight: normal;
		}

	}

	.ui-state-active {
		background: #FFF;
		border: none;

		a{
			color: $color-text-dark;
			text-shadow: none;
			font-weight: normal;
			color: #0c8db9;
			outline: none;
			border-bottom: 1px solid #0c8db9 !important;
		}
	}
}

.ui-tabs .ui-tabs-nav .ui-state-default a{
	font-weight: normal;
	outline: none !important;
}

.ui-tabs .ui-tabs-nav .ui-state-default {
	background-color: #fff;
	border-radius: 0px !important;
	border-color: #fff !important;
}

.ui-tabs .ui-tabs-nav .ui-state-active {
	background-color: #F1F1F1 !important;
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
	border-top: 1px solid #ccc !important;
	border-bottom: none;
}

// override icons manually TODO: make sprites
.icon-16.icon-assetadmin {
	background: url("../images/picture.png");
}
.icon-16.icon-cmsmain {
	background: url("../images/pencil.png");
}
.icon-16.icon-cmspagescontroller {
	background: url("../images/network.png");
}
.icon-16.icon-cmssettingscontroller {
	background: url("../images/gears.png");
}
.icon-16.icon-securityadmin {
	background: url("../images/community.png");
}
.icon-16.icon-reportadmin {
	background: url("../images/pie-chart.png");
}
.icon-16.icon-commentadmin {
	background: url("../images/blog.png");
}
.icon-16.icon-help {
	background: url("../images/information.png");
}

// non menu icons e.g. buttons
.ui-icon.btn-icon-add{
	background: url("../images/add.png");
	background-size: 13px 13px;
	background-repeat: no-repeat;
	background-position: center;
}

.ui-icon.btn-icon-accept{
	background: url("../images/accept.png");
	background-size: 13px 13px;
	background-repeat: no-repeat;
	background-position: center;
}

.ui-icon.btn-icon-pencil{
	background: url("../images/edit.png");
	background-size: 13px 13px;
	background-repeat: no-repeat;
	background-position: center;
}

.ui-icon.btn-icon-cross-circle{
	background: url("../images/cross.png");
	background-size: 13px 13px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -6px;
}

.col-buttons .action.action-detail.edit-link{
	width: 16px;
	height: 16px;
	background: url("../images/edit.png") no-repeat top center;
	background-size: 13px 13px;
	background-repeat: no-repeat;
	background-position: center;
}

.ss-ui-action-constructive .ui-icon.btn-icon-accept{
	background: url("../images/accept-light.png");
}



// no longer works with white icons. TODO: make dark copies.
.cms-content-header .cms-content-header-info a.cms-panel-link{
	color: #444;
	text-decoration: underline;
}

.cms-content-header .cms-content-header-info .section-icon{
	display: none;
}


// Gridfield customisations
.cms table.ss-gridfield-table{
	tr.title th{
		background: #ddd;
		background-color: #ddd;
		border: 1px solid #ccc;
		border-bottom: none;
		text-shadow: none;


		h2{
			color: #666;
		}
	}

	tr th.main{
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		color: #666;
		background: #eee;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		button{
			span{
				color: #666;
				text-shadow: none;
			}
		}
	}

	tr th.extra{
		background: #eee;
		color: #666;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}

	tr td.bottom-all{
		background: #ddd;
		background-color: #ddd;
	}

	tr.even{
		background: #f1f1f1;
	}
}

.cms .ss-gridfield .right .pagination-records-number, .cms table.ss-gridfield-table tr td.bottom-all .pagination-records-number{
	color: #666;
	text-shadow: none;
}

.cms table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.trigger{
	background: url(../../framework/images/icons/filter-icons.png) no-repeat -17px -38px;
}

// ui dialog
.ui-dialog {
	background: #f1f1f1 !important;
}

iframe body.SecurityAdmin {
	background-color: #F1F1F1 !important;
}

// Fancy Dev-Build Module customisation
.devbuild-trigger.loading {
    color: rgb(249, 191, 59);

    .icon {
      color: rgb(249, 191, 59);
    }
}

.devbuild-trigger.error {
    color: rgb(239, 72, 54);

    .icon {
      color: rgb(239, 72, 54);
    }
}

.devbuild-trigger.success {
    color: #3EBAE0;
    .icon {
      color: #3EBAE0;
    }
}
